<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <main id="app" class="main">
        <div class="container">
            <form @submit="sendLogin" class="main-form">
                <label class="main-form_title">
                    login
                </label>
                <div class="add">
                    <span class="add-span1"></span>
                    <input v-model="email" type="text" placeholder="email" class="main-form_input main-form_login">
                </div>
                <div class="add">
                    <span class="add-span2"></span>
                    <input v-model="password" type="text" placeholder="Password" class="main-form_input main-form_password">
                </div>
                <!-- <label class="main-form_wrap">
                    <input id="main-form_ckeckbox" type="checkbox" class="main-form_ckeckbox">
                    <label for="main-form_ckeckbox" class="main-form_wrap-label">
                        Remember megfhfghfgh
                    </label>
                </label> -->
                <button class="main-form_btn">
                    LOGIN
                </button>
                <div class="main-form_relink">
                    Not a member?
                    <a href="#" class="main-form_step">
                        Sign up now
                    </a>
                </div>
            </form>
            <div class="userData">
                <div class="profile-header">
                    <img src="" alt="">
                    <div v-if="info" class="profile-header_name">
                        {{ info.name }}
                    </div>
                </div>
                <div class="profile-about">
                    <div class="profile-about_summary">
                    </div>
                    <div class="profile-about_age">
                    </div>
                    <div class="profile-about_gender">
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/sendLogin.js"></script>
    <script src="js/btn.js"></script>
    <!-- <script src="js/main.js"></script> -->
</body>
</html>