<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <main id="app" class="main">
        <div class="container">
            <form @submit="sendInfo" name="form1" id="form1" class="main-form main-form_registration">
                <div class="registration">
                    <label class="main-form_title">
                        Registration
                    </label>
                    <div class="add">
                        <span class="add-span1"></span>
                        <input v-model="email" id="email" name="email" type="text" placeholder="email" class="main-form_input main-form_login" value="baba@gmail.com">
                    </div>
                    <div class="add">
                        <span class="add-span2"></span>
                        <input v-model="password" id="password" name="password" type="password" placeholder="Password" class="main-form_input main-form_password" pattern="[a-zA-Z0-9]{4,90}" value="123445">
                        <h3 class="main-form_password-title">
                            The password must consist only of Latin characters and numbers
                        </h3>
                        <span class="add-span2"></span>
                        <input id="confirm-password" type="text" placeholder="Confirm password" class="main-form_input main-form_password" pattern="[a-zA-Z0-9]{4,90}" value="123445">
                        <div class="invalid-confirm"></div>
                    </div>
                    <!-- <label class="main-form_wrap">
                        <input id="main-form_ckeckbox" type="checkbox" class="main-form_ckeckbox">
                        <label for="main-form_ckeckbox" class="main-form_wrap-label">
                            Remember me
                        </label>
                    </label> -->
                    <button id="btn-register" class="main-form_btn main-form_btn-continue">
                        CONTINUE
                    </button>
                    <div class="main-form_relink">
                        Have an account?
                        <a href="#" class="main-form_step">
                            Sign in now
                        </a>
                    </div>
                </div>
                <div class="main-form main-form_about">
                    <label class="main-form_title">
                        About
                    </label>
                    <input v-model="name" value="123445" id="name" name="name" placeholder="name" type="text" class="main-form_about-name">
                    <input v-model="surname" value="123445" id="surname" name="surname" placeholder="surname" type="text" class="main-form_about-surname">
                    <input v-model="age" value="12" id="age" name="age" placeholder="age" type="text" class="main-form_about-age">
                    <input v-model="summary" value="123445" id="summary" name="summary" placeholder="summary" type="text" class="main-form_about-summary">
                    <label class="main-form_about-wrap">
                        <label class="main-form_about-label">
                            <input v-model="selectedGender" value="1" id="gender" name="gender" type="radio" class="main-form_about-radiobtn"> male
                            <input v-model="selectedGender" value="2" name="gender" type="radio" class="main-form_about-radiobtn"> female
                        </label>
                    </label>
                    <!-- <input class="main-form_about-register" type="button" value="REgister" onclick="submitForms()" /> -->
                    <input class="file" ref="file" @change="uploadFile" type="file">
                    <button class="btn-register" type="submit">Register</button>
                    <div class="main-form_relink">
                        Have an account?
                        <a href="#" class="main-form_step">
                            Sign in now
                        </a>
                    </div>
                </div>
            </form>
            
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="./js/send.js"></script>
    <script src="js/main.js"></script>
</body>
</html>