html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 600px;
    padding: 0 10px;
    margin: 0 auto;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, #0250c5, #d43f8d);
    font-family: 'Raleway', sans-serif;
}
.main-form{
    background-color: #fff;
    padding: 77px 50px 30px;
    max-height: 100vh;
    width: 450px;
    z-index: 5;
}
.add{
    width: 100%;
    margin-bottom: 16px;
}
.add-span1,
.add-span2{
    position: relative;
    display: block;
}
.add-span1::before{
    content:"";
    position: absolute;
    background-image: url("../images/email.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    left: 17px;
    top: 15px;
    z-index: 20;
}
.add-span2::before{
    content:"";
    position: absolute;
    background-image: url("../images/padlock.png");
    width: 30px;
    height: 30px;
    background-size: contain;
    left: 17px;
    top: 15px;
    z-index: 20;
}
.main-form_title{
    display: block;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    padding-bottom: 55px;
}
.main-form_input{
    height: 62px;
    padding: 0 30px 0 62px;
    width: 355px;
    background-color: #e6e6e6;
    border-radius: 3px;
    border: none;
    /* display: block; */
    margin-right: 0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.main-form_wrap{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.main-form_ckeckbox{
    position: absolute;
  z-index: -1;
  opacity: 0;
}
.main-form_ckeckbox+.main-form_wrap-label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.main-form_ckeckbox+.main-form_wrap-label::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #d33f8d;
    border-radius: 3px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.main-form_ckeckbox:checked+.main-form_wrap-label::before{
    background-image: url(../images/tick.svg);
    width: 18px;
    height: 18px;
    background-size: contain;
}
.main-form_btn{
    padding: 0 62px;
    width: 100%;
    height: 62px;
    border-radius: 3px;
    border: none;
    background-color: #d33f8d;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
}
.main-form_relink{
    padding-top: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
}
.main-form_step{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    text-decoration: none;
    padding: 0 3px 1px;
    border-bottom: 1px solid #999999;
}
.main-form_btn-register{
    margin-top: 50px;
}
.main-form_password-title{
    padding-top: 10px;
    text-align:justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
}
.invalid-confirm{
    padding-top: 5px;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: red;
}
.main-form_about{
    display: none;
}
.main-form_registration.main-form_registration--invise{
    z-index: -1;
    opacity: 0;
    position: absolute;
}
.main-form_about.main-form_about--active{
    display: block;
}
.main-form_about-name,
.main-form_about-surname,
.main-form_about-age,
.main-form_about-summary{
    height: 62px;
    padding: 0 30px;
    width: 355px;
    background-color: #e6e6e6;
    border-radius: 3px;
    border: none;
    display: block;
    margin: 0 auto 15px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    outline: none;
}
.main-form_about-summary{
    height: 100px;
}
.main-form_about-wrap{
    display: block;
    padding-left: 20px;
}
.main-form_about-label{
    margin-right: 20px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    align-items: center;
}
.main-form_about-register{
    margin-top: 20px;
    text-transform: uppercase;
    padding: 0 62px;
    width: 100%;
    height: 62px;
    border-radius: 3px;
    border: none;
    background-color: #d33f8d;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
}